{% set classes = "" %}
{% if clear is not defined %}{% set clear = true %}{% endif %}
{% if align == 'center' %}
  {% set classes = classes ~ " md:mx-auto my-2" %}
  {% set classes = classes ~ " max-h-96" %}
{% elif align %}
  {% if grid is not defined %}{% set classes = classes ~ " md:w-1/3" %}{% endif %}
  {% set classes = classes ~ " md:mx-4 my-2" %}

  {% if align == "right" %}
    {% set classes = classes ~ " md:mr-0" %}
    {% set classes = classes ~ " md:float-right" %}
    {% if clear %}{% set classes = classes ~ " md:clear-right" %}{% endif %}
  {% elif align == "left" %}
    {% set classes = classes ~ " md:ml-0" %}
    {% set classes = classes ~ " md:float-left" %}
    {%if clear %}{% set classes = classes ~ " md:clear-left" %}{% endif %}
  {% endif %}
{% endif %}

{% if grid %}{% set classes = classes ~ " md:w-5/12" %}{% endif %}

{% if class %}{% set classes = classes ~ " " ~ class %}{% endif %}

{% set classes = classes ~ " transition hover:scale-[2]" %}

{% if resize is not defined or resize == true %}
{% set image = resize_image(path=src, op='fit_width', width=600, format='webp') %}
{% endif %}

<a href="/{{ src }}">
	<img
		{% if alt %}alt="{{alt}}"{% endif %}
		{% if image.url %}
		src="{{ image.url }}"
		{% elif src %}
		src="{{ src }}"
		{% endif %}
		class="rounded shadow-lg {{classes}}" />
</a>
