{% set classes = "" %}

{% if align == 'center' %}
  {% set classes = classes ~ " md:mx-auto md:my-2" %}
  {% set classes = classes ~ " max-h-96" %}
{% elif align %}
  {% set classes = classes ~ " md:w-1/3" %}
  {% set classes = classes ~ " md:mx-4 md:my-2" %}

  {% if align == "right" %}
    {% set classes = classes ~ " md:mr-0" %}
    {% set classes = classes ~ " md:float-right" %}
    {% set classes = classes ~ " md:clear-right" %}
  {% elif align == "left" %}
    {% set classes = classes ~ " md:ml-0" %}
    {% set classes = classes ~ " md:float-left" %}
    {% set classes = classes ~ " md:clear-left" %}
  {% endif %}
{% endif %}

{% if class %}{% set classes = classes ~ " " ~ class %}{% endif %}

{% set classes = classes ~ " transition hover:scale-[2]" %}
<img
	{% if alt %}alt="{{alt}}"{% endif %}
	{% if src %}src="{{get_url(path=src,cachebust=true)}}"{% endif %}
	class="rounded shadow-lg {{classes}}" />
