<header class="w-full bg-neutral-100 dark:bg-neutral-900">
	<nav class="flex items-center px-4 items-center">
		<a href="/" class="grow">
			<h1 class="font-semibold text-3xl dark:text-neutral-200">
				<img class="float-left w-16 scale-125 dark:hidden" src="{{get_url(path='img/doodle-owl.svg',cachebust=true)}}" />
			</h1>

		</a>

		<ul class="flex items-center space-x-4 dark:text-neutral-100 text-black font-semibold pt-8 pb-2">
			<li><a class="transition ease-in-out hover:delay-150 hover:underline hover:text-orange-800 decoration-4 underline-offset-4" href="/">Home</a></li>
			<li><a class="transition ease-in-out hover:delay-150 hover:underline hover:text-orange-800 decoration-4 underline-offset-4" href="/about">About</a></li>
			<li><a class="transition ease-in-out hover:delay-150 hover:underline hover:text-orange-800 decoration-4 underline-offset-4" href="/articles">Articles</a></li>
			<li><a class="transition ease-in-out hover:delay-150 hover:underline hover:text-orange-800 decoration-4 underline-offset-4" href="/articles">Contact</a></li>
			<li><a class="transition ease-in-out hover:delay-150 hover:underline hover:text-orange-800 decoration-4 underline-offset-4" href="/services">Services</a></li>
		</ul>
	</nav>
	<hr class="h-1.5 border-none bg-gradient-to-r from-orange-600 from-10% lg:to-70% to-rose-900" />
</header>
