{% import "macros.html" as macros %}
{% extends "page.html" %}

{% block content %}
<section class="grow pt-8 px-4 pb-4 4xl:px-0">
	<header class="flex sm:flex-row flex-col-reverse items-center sm:w-full w-fit mx-auto xl:px-16 lg:px-12 px-8 select-none">
		<hgroup class="grow">
			<h2 class="md:text-start text-center grow text-3xl font-semibold dark:text-neutral-100">Riley C. O'Connor</h2>
			<p class="md:text-start text-center text-xl font-light text-neutral-700 dark:text-neutral-200">m32.io</p>
		</hgroup>
		<img class="w-48 transition-all ease-in-out rounded-[96px] hover:rounded mx-4 mb-4 shadow-lg grayscale" src="{{get_url(path='img/headshot.jpg',cachebust=true)}}" />
		{% block header %}
		{% endblock header %}
	</header>

	<section class="pb-4">
		<h3 class="border-b-2 border-neutral-200 dark:border-neutral-700 font-semibold text-2xl dark:text-neutral-100 select-none">
			Articles
		</h3>

		<div class="grid grid-cols-1 sm:grid-cols-2 py-4 gap-4 align-items-center">
			{% set article_section = get_section(path="articles/_index.md") %}

			{% for page in article_section.pages %}
			{{ macros::article_card(page=page) }}
			{% endfor %}
		</div>
	</section>

	<div class="grid md:grid-cols-3">
	</div>
</section>
{% endblock content %}
